name: Test with Ansible

"on":
  push:
    paths-ignore:
      - README.md
      - LICENSE
      - galaxy.yml
      - AUTHORS
      - .github/labels.yml
      - .github/release-drafter.yml
  pull_request:
  schedule:
    - cron: "12 0 * * *"
  release:
    types:
      - published  # It seems that you can publish directly without creating
      - prereleased
  workflow_dispatch:

jobs:
  collect:
    runs-on: ubuntu-latest
    outputs:
      scenarios: "{% raw %}${{ steps.collection.outputs.tox-envs }}{% endraw %}"
      vagrant_scenarios: "{% raw %}${{ steps.vagrant.outputs.tox-envs }}{% endraw %}"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          set -ex
          python -m pip install --upgrade tox
      - id: collection
        uses: greg-hellings/tox-list@v1
        with:
          tox-args: --ansible-driver docker --ansible-driver podman --ansible-driver containers
      - id: vagrant
        uses: greg-hellings/tox-list@v1
        with:
          tox-args: --ansible-driver vagrant

  lint:
    uses: oasis-roles/meta_test/.github/workflows/lint.yml@master
    with:
      checkout_path: {{ namespace }}/{{ collection_name }}

  vagrant_build:
    needs:
      - collect
    uses: oasis-roles/meta_test/.github/workflows/vagrant_build.yml@master
    if: needs.collect.outputs.vagrant_scenarios != '[]'
    with:
      checkout_path: {{ namespace }}/{{ collection_name }}
      scenarios: "{% raw %}${{ needs.collect.outputs.vagrant_scenarios }}{% endraw %}"

  container_build:
    needs:
      - collect
    uses: oasis-roles/meta_test/.github/workflows/container_build.yml@master
    if: needs.collect.outputs.scenarios != '[]'
    with:
      checkout_path: {{ namespace }}/{{ collection_name }}
      scenarios: "{% raw %}${{ needs.collect.outputs.scenarios }}{% endraw %}"

  release:
    needs:
      - container_build
      - vagrant_build
      - lint
    if: github.event_type == 'release'
    uses: oasis-roles/meta_test/.github/workflows/container_build.yml@master
    secrets:
      galaxy_api_key: "{% raw %}${{ secrets.GALAXY_API_KEY }}{% endraw %}"
